<!-- <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
</footer> -->

<!-- <div class="footer">
    <p>Copyright &copy; Your Website</p>
  </div> -->

  <!-- Footer -->
<footer class="page-footer font-small pt-4 bg-dark fixed-btm">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-3 text-center">

        <!-- Content -->
        <h5 class="text-uppercase text-white">Corona Tracker</h5>
        <p class="text-white">Here you can track covid-19 cases of all the countries over the globe.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">


      <!-- Grid column -->
      <!-- <div class="col-md-6 mb-md-0 mb-3 text-center">

        
        <h5 class="text-uppercase text-white">Links</h5>

        <ul class="list-unstyled list-inline">
          <li class="list-inline-item px-3">
            <a routerLink="" class="text-white">Home</a>
          </li>
          <li class="list-inline-item px-3">
            <a routerLink="countries" class="text-white">Countries</a>
          </li>
          <li class="list-inline-item px-3">
            <a routerLink="india" class="text-white">India</a>
          </li>
          <li class="list-inline-item px-3">
            <a routerLink="about" class="text-white">About</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a  class="text-white"> Sai Kiran Gowni</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->