 <!-- Footer -->
<footer class="page-footer font-small pt-4 bg-dark fixed-btm">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-3 text-center">

        <!-- Content -->
        <h5 class="text-uppercase text-white">Corona Tracker</h5>
        <p class="text-white">Here you can track covid-19 cases of all the countries over the globe.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a  class="text-white"> Sai Kiran Gowni</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->