<!-- Loader -->
<div class="ui  inverted dimmer" [class.active]='loading' style="position: fixed;">
  <div class="ui text loader">Loading</div>
</div>
<!-- end -->
<div class="jumbotron bg-white text-center">
<h1>Country Wise COVID-19 Statistics</h1>
<hr>

<div class="">
    <div class="form-group col-lg-5 mx-auto">
        <label for="c">Select Country</label>
        <select id="c" class="form-control" name="country" #input (change)='updateCountryWiseData(input.value)'>
            <option value="{{con}}"  *ngFor="let con of countries"  [selected]="con==default_country">{{con}}</option>
        </select>

    </div>
</div>
</div>


<div class="row m-3">
    <div class="col border d-flex justify-content-center m-3 px-4 py-3 shadow-lg confrmd">
        <div class="ui statistic w-100">
          <br>
            <div class="label" style="font-size:3rem;">
              Confirmed
            </div>
            <br>
            <div class="value counter-count">
              {{confirmed}}
            </div>
            <br>

          </div> 
    </div>
    <div class="col border d-flex justify-content-center m-3 px-4 py-3 shadow-lg recvrd">
        <div class="ui statistic w-100">
          <br>
            <div class="label" style="font-size:3rem;">
              Recovered
            </div>
            <br>
            <div class="value">
              {{recovered}}
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{rec_perc}}%" attr.aria-valuenow="{{rec_perc}}"  aria-valuemin="0" aria-valuemax="100">{{rec_perc}}%</div>
            </div>
          </div>
    </div>
    <div class="col border d-flex justify-content-center m-3 py-3 px-4 shadow-lg death">
        <div class="ui statistic w-100">
          <br>
            <div class="label" style="font-size:3rem;">
              Death
            </div>
            <br>
            <div class="value">
              {{death}}
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{death_perc}}%" attr.aria-valuenow="{{death_perc}" aria-valuemin="0" aria-valuemax="100">{{death_perc}}%</div>
            </div>
            <br>
          </div>
    </div>
    <div class="col border d-flex justify-content-center m-3 px-4 py-3 shadow-lg  actv">
        <div class="ui statistic w-100">
          <br>
            <div class="label" style="font-size:3rem;">
              Active
            </div>
            <br>
            <div class="value">
              {{active}}
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{active_perc}}%" attr.aria-valuenow="{{active_perc}}" aria-valuemin="0" aria-valuemax="100">{{active_perc}}%</div>
            </div>
          </div>
    </div>  
</div>

<div>
  <h1 class="text-center">Cases Today</h1>
</div>

<!-- Today's Data -->
<div class="row m-3">
  <div class="col border d-flex justify-content-center m-3 px-4 py-3 shadow-lg confrmd">
      <div class="ui statistic w-100">
        <br>
          <div class="label" style="font-size:3rem;">
            Confirmed
          </div>
          <br>
          <div class="value counter-count">
            {{today_confirmed}}
          </div>
          <br>
        </div> 
  </div>
  <div class="col border d-flex justify-content-center m-3 px-4 py-3 shadow-lg recvrd">
      <div class="ui statistic w-100">
        <br>
          <div class="label" style="font-size:3rem;">
            Recovered
          </div>
          <br>
          <div class="value">
            {{today_recovered}}
          </div>
          <br>
        </div>
  </div>
  <div class="col border d-flex justify-content-center m-3 py-3 px-4 shadow-lg death">
      <div class="ui statistic w-100">
        <br>
          <div class="label" style="font-size:3rem;">
            Death
          </div>
          <br>
          <div class="value">
            {{today_deaths}}
          </div>
          <br>
        </div>
  </div>  
</div>
<!-- today's data end -->



<div class="justify-content-center">
  <div class="col-12">
<h1  class="text-center">Date Wise Data of the Country</h1>

<div class="dates_table">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">Date</th>
      <th scope="col" class="text-center">Confirmed</th>
      <th scope="col" class="text-center">Recovered</th>
      <th scope="col" class="text-center">Death</th>
    </tr>
  </thead>
  <tbody>

    <!-- <div *ngIf="datewisedata.length>0; then thenBlock else elseBlock"></div> -->

    <tr *ngFor="let data of datewisedata" >
      <th scope="row" class="text-center">{{data[0]}}</th>
      <td class="text-center">{{data[1]}}</td>
      <td class="text-center">{{data[2]}}</td>
      <td class="text-center">{{data[3]}}</td>
    </tr>
    <tr *ngIf="datewisedata.length<=0">
      <td colspan="4" class="text-center"><h2>No data Found !!!</h2></td>
    </tr>
  </tbody>
</table>

</div>

</div>
</div>
<br><br>
<img src="../../assets/countries.gif" class="rounded mx-auto d-block d-none d-sm-block d-md-none" alt="" width="100%" height="18%">
<br><br><br>
