<!-- Loader -->
  <div class="ui  inverted dimmer" [class.active]='loading' style="position: fixed;">
    <div class="ui text loader">Loading</div>
  </div>
<!-- end -->


  <h1 style="text-align: center;">COVID-19 Global Statistics</h1>

  <div class="d-none d-lg-block">
    <br><br>
  </div>

<img src="../../assets/home.gif" class="rounded mx-auto d-block d-none d-sm-block d-md-none" alt="" width="55%" height="20%">
<div class="row m-3" style="
padding-bottom: 77px;
">

    <div class="col border d-flex justify-content-center m-3 p-3 shadow-lg p-3 confrmd">
        <div class="ui statistic">
          <br>
            <div class="label" style="font-size:3rem;">
              Confirmed
            </div>
            <br>
            <div class="value counter">
              {{confirmed}}
            </div>
            <br>
          </div> 
    </div>
    <div class="col border d-flex justify-content-center m-3 p-3 shadow-lg p-3 recvrd">
        <div class="ui statistic">
          <br>
            <div class="label" style="font-size:3rem;">
              Recovered
            </div>
            <br>
            <div class="value">
              {{recovered}}
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{rec_perc}}%" attr.aria-valuenow="{{rec_perc}}"  aria-valuemin="0" aria-valuemax="100">{{rec_perc}}%</div>
            </div>
          </div>
    </div>
    <div class="col border d-flex justify-content-center m-3 p-3 shadow-lg p-3 death">
        <div class="ui statistic">
          <br>
            <div class="label" style="font-size:3rem;">
              Death
            </div>
            <br>
            <div class="value">
              {{death}}
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{death_perc}}%" attr.aria-valuenow="{{death_perc}" aria-valuemin="0" aria-valuemax="100">{{death_perc}}%</div>
            </div>
          </div>
    </div>
    <div class="col border d-flex justify-content-center m-3 p-3 shadow-lg p-3 actv">
        <div class="ui statistic">
          <br>
            <div class="label" style="font-size:3rem;">
              Active
            </div>
            <br>
            <div class="value">
              {{active}}
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{active_perc}}%" attr.aria-valuenow="{{active_perc}}" aria-valuemin="0" aria-valuemax="100">{{active_perc}}%</div>
            </div>
          </div>
    </div>  
</div>

<div>
  <h1 class="text-center">Cases Today</h1>
</div>

<!-- Today's Data -->
<div class="row m-3">
  <div class="col border d-flex justify-content-center m-3 px-4 py-3 shadow-lg confrmd">
      <div class="ui statistic w-100">
        <br>
          <div class="label" style="font-size:3rem;">
            Confirmed
          </div>
          <br>
          <div class="value counter-count">
            {{today_confirmed}}
          </div>
          <br>
        </div> 
  </div>
  <div class="col border d-flex justify-content-center m-3 px-4 py-3 shadow-lg recvrd">
      <div class="ui statistic w-100">
        <br>
          <div class="label" style="font-size:3rem;">
            Recovered
          </div>
          <br>
          <div class="value">
            {{today_recovered}}
          </div>
          <br>
        </div>
  </div>
  <div class="col border d-flex justify-content-center m-3 py-3 px-4 shadow-lg death">
      <div class="ui statistic w-100">
        <br>
          <div class="label" style="font-size:3rem;">
            Death
          </div>
          <br>
          <div class="value">
            {{today_deaths}}
          </div>
          <br>
        </div>
  </div>  
</div>
<!-- today's data end -->

<br><br><br>